:root.theme-dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --section-title-color: #ff0070;
  --article-title-color: #000028;
  --decorated-zone-color: #ff0070;
  --link-shadow-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .rec-decoration {
  display: flex;
}