/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-shadow-color: #ff0070;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --section-title-color: #353430;
  --article-title-color: #353430;
  --decorated-zone-color: #353430;
  --link-shadow-color: #ff8dcb;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .rec-decoration {
  display: none;
}

/* Автоматическое определение светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff0070;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --section-title-color: #353430;
    --article-title-color: #353430;
    --decorated-zone-color: #353430;
    --link-shadow-color: #ff8dcb;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }
  
  .rec-decoration {
    display: none;
  }
}